* {
    background-color: rgb(95, 94, 94);
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 10;
    box-sizing: border-box;
}
.hero{
    color: black;
    padding: 0px;    
}
.mine {
    color: brown;
    padding: 2px;
    gap: 2px;
    color: rgb(8, 186, 186);
}






